<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="LoggerConfiguration" type="ScaffelPikeLogger.Configuration.LoggerConfiguration, ScaffelPikeLogger" />
	</configSections>

	<LoggerConfiguration LoggerType="Text">
		<TextLoggerConfiguration Directory="C:\Users\Mark Osborne\source\repos\Logs\ScaffelPike" FileName="ScaffelPikeService" FileExtension=".log" />
	</LoggerConfiguration>

	<connectionStrings>
		<add name="Default" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ScaffelPikeDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
	</connectionStrings>

	<appSettings>
		<add key="Environment" value="TEST" />
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="HeartbeatGraceInterval" value="1" />
	</appSettings>

	<system.web>
		<compilation debug="true" />
	</system.web>

	<system.serviceModel>
		<services>
			<service name="ScaffelPikeServices.ScaffelPikeService">
				<endpoint address="http://localhost:8080/ScaffelPikeService/ScaffelPikeService/" binding="wsHttpBinding" contract="ScaffelPikeContracts.IScaffelPikeService">
				</endpoint>
			</service>
		</services>
	</system.serviceModel>
	<runtime>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>

				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-6.3.0.0" newVersion="6.3.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />

			</dependentAssembly>

		</assemblyBinding>

	</runtime>

</configuration>
