<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IScaffelPikeService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ScaffelPikeService/ScaffelPikeService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IScaffelPikeService"
                contract="ScaffelPikeServiceReference.IScaffelPikeService"
                name="WSHttpBinding_IScaffelPikeService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>